/webscan.yaml
/dist/
/build/
/.cache/
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.test
/coverage.out
/compose-deploy/
/webscan.compose.yaml
.DS_Store
/docs/*
!/docs/COMPOSE.md
!/docs/REGISTRY.md

!/docs/PARAMETERS.md
!/docs/GRAFANA.md
!/docs/image/
/docs/image/*
!/docs/image/grafana-servers.png
!/docs/image/grafana-health.png
